@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: "Mitera";
  src: url("mitera-13484436/Mitera Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo-rafa {
  position: absolute;
  z-index: 1;
  width: 25%;
  opacity: .25;
}

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.items {
  width: 100%;
  height: 100vh;
  display: flex;
}

.divider {
  position: relative;
  width: 1px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
}

.item {
  position: relative;
  width: 25vw;
  height: 100vh;
  overflow: hidden;
}

.img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #dbdbd5;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.item-wrapper:hover .img-overlay {
  top: -100%;
}

.item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.5);
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.item-wrapper:hover img {
  transform: scale(1);
}

.item-copy {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8em 2em;
  font-family: "Mitera", sans-serif;
  text-transform: uppercase;
  line-height: 60px;
  color: #000;
  z-index: 2;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.item-name {
  font-size: 37px;
}

.item-name span {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  display: block;
}

.item-wrapper:hover .item-copy {
  color: #fff;
}

.item-copy .id {
  color: #c29f4c;
  font-size: 150px;
}
